---
---
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 640px;
  padding: 2rem 1rem;
  margin: 0 auto;
  font: 16px/1.2 sans-serif;
}

h1, h2, p, ul, hr, img, nav {
  margin-top: 0;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid silver;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: Blue;
  &:hover {
    text-decoration: none;
  }
}

#site-nav {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding-left: 0;

  li {
    padding-right: 0.75rem;
  }

  a {
    font-weight: bold;
  }
}

#breadcrumbs {
  color: DimGrey;
  margin-bottom: 0.5rem;
}

.mb2 {
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.list-reset {
  list-style-type: none;
  padding-left: 0;
}
