---
---
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 640px;
  padding: 2rem 1rem 1rem;
  margin: 0 auto;
  font: 16px/1.2 sans-serif;
}

h1, p, img {
  margin-top: 0;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

hr, section {
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid silver;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: blue;
  &:hover {
    text-decoration: none;
  }
}
