<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Joe Ptacek</title>
    <meta name="description" content="Website for Joe Ptacek">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7WT7GHK4M9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7WT7GHK4M9');
    </script>
  </head>
  <body>
    <h1>Joe Ptacek</h1>
    <hr>
    {{ content }}
  </body>
</html>
