<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Joe Ptacek</title>
    <meta name="description" content="Website for Joe Ptacek">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
  </head>
  <body>
    <h1>{{ site.title }}</h1>
    {% include site_nav.html %}
    <hr class="mb2">
    <h2 class="mb2">
       {{ page.title }} <span aria-hidden="true">→</span>
    </h2>
    {{ content }}
  </body>
</html>
